
body {
    background: #4C66AD;
    color: #000000;
    font-family: 'Cantarell',Helvetica;
    margin-bottom: 0;
}
h1, h2, h3 {
    font-family: 'Titillium',Helvetica;
}
code {
    color: #4B0082;
}
div#main {
    background: url("img/background_bottom.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    color: #000000;
    margin-left: 1px;
    margin-top: 5px;
    margin-bottom: 50px;
    overflow: hidden;
    padding: 35px 161px 40px;
    position: relative;
}
div#main2 {
    background: url("img/background_top.png") no-repeat scroll center top rgba(0, 0, 0, 0);
}
div#main3 {
    background: url("img/background_center.png") repeat-y scroll center top rgba(0, 0, 0, 0);
}
div#foot {
    height: 155px;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
}
div#foot img {
    margin: 0 25px;
    width: 140px;
}
div#content {
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    width: 800px;
}
div#content table {
}
div#menu {
    background-color: #b0b0b0;
    font-family: 'Titillium',Helvetica;
    font-size: 20px;
    font-weight: bold;
    margin: 0 4px 10px;
    width: 818px;
}
div#menu span {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    position: relative;
}
div#menu span.selected {
    background-color: #1C296B;
}
div#menu a {
    color: #000000;
    text-decoration: none;
}
div#menu span.selected a {
    color: #ffffff;
}
div#submenu {
    background-color: #1C296B;
    color: #ffffff;
    font-weight: normal;
}
div#submenu.no_submenu {
    display: none;
}
div#submenu a {
    color: #ffffff;
    text-decoration: none;
}
div#submenu span {
    display: inline;
    font-size: 15px;
    line-height: 30px;
    margin: 0 20px 0 0px;
    position: relative;
}
div#submenu span.selected {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
}
a {
    color: #1C296B;
    font-weight: bold;
    text-decoration: none;
}
a img {
    border: 0 none;
}
div.alert {
    background: none repeat scroll 0 0 #EA605D;
    border: 3px solid #E22926;
    border-radius: 5px;
    color: #000000;
    margin: 10px 0;
    padding: 10px;
}
div.advert {
    background: none repeat scroll 0 0 #99FF99;
    border: 3px solid #2E8B57;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}
div.advert a {
    color: #2E8B57;
    text-decoration: underline;
}
div.advert a:hover {
    color: #2E8B57;
    text-decoration: none;
}
#content iframe {
    background-color: #FFFFFF;
    height: 600px;
    width: 790px;
}
ul.ui-autocomplete {
    background: none repeat scroll 0 0 #000000;
    border: 2px solid #99D599;
    border-radius: 5px;
    list-style: none outside none;
    margin: 3px;
    padding: 3px;
    width: 200px;
}
ul.ui-autocomplete li {
    width: 195px;
}
ul.ui-autocomplete li a {
    width: 195px;
}
.ui-state-hover {
    background: none repeat scroll 0 0 #999999;
    width: 195px;
}
select#language {
    background: none repeat scroll 0 0 #888888;
    border: medium none;
}
select#language option {
    background: none repeat scroll 0 0 #888888;
    border: medium none;
    color: #000000;
}
select, option {
    font-size: 13px;
}
ol.phpfmg_form {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol.phpfmg_form li {
    clear: both;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    width: 100%;
}
.form_field, .form_required {
    font-weight: bold;
}
.form_required {
    color: #FF0000;
    margin-right: 8px;
}
.field_block_over {
}
.form_submit_block {
    padding-top: 3px;
}
.text_box, .text_area, .text_select {
    width: 300px;
}
.text_area {
    height: 80px;
}
.form_error_title {
    color: #FF0000;
    font-weight: bold;
}
.form_error {
    background-color: #F4F6E5;
    border: 1px dashed #FF0000;
    margin-bottom: 10px;
    padding: 10px;
}
.form_error_highlight {
    background-color: #F4F6E5;
    border-bottom: 1px dashed #FF0000;
}
div.instruction_error {
    color: #FF0000;
    font-weight: bold;
}
hr.sectionbreak {
    color: #CCCCCC;
    height: 1px;
}
#one_entry_msg {
    background-color: #F4F6E5;
    border: 1px dashed #FF0000;
    margin-bottom: 10px;
    padding: 10px;
}
div.dd {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: left;
    height: 16px;
    margin: 0 0 2px;
    width: 450px;
}
@font-face {
    font-family: "Titillium";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/TitilliumText25L003-webfontd41d.eot?#iefix") format("embedded-opentype"), url("fonts/TitilliumText25L003-webfont.woff") format("woff"), url("fonts/TitilliumText25L003-webfont.ttf") format("truetype"), url("fonts/TitilliumText25L003-webfont.svg#TitilliumText25L400wt") format("svg");
}
@font-face {
    font-family: "Cantarell";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Cantarell-Regular-webfontd41d.eot?#iefix") format("embedded-opentype"), url("fonts/Cantarell-Regular-webfont.woff") format("woff"), url("fonts/Cantarell-Regular-webfont.ttf") format("truetype"), url("fonts/Cantarell-Regular-webfont.svg#CantarellRegular") format("svg");
}
